ul.web2py-menu-vertical { 
    position: relative; 
    top: 40px; 
    left: 0;
    z-index: 30;
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: none;
}

.web2py-menu-expand:hover .web2py-menu-vertical
{
    display: block;
}

ul.web2py-menu-vertical li {
 margin:0;
 padding:0;
 border:0;
 width: 150px;
 background: black;
 text-align:left;
}
ul.web2py-menu-vertical li a {
 margin:0;
 padding: 1px 3px 1px 3px;
 border:0;
 width: 144px;
 color: white;
 font-size:12px;
}
div.flash {
 position: fixed;
 float: right;
 padding: 5px;
 top: 180px;
 right: 90px;
 opacity: 0.9;
 margin: 5px 5px 5px 5px;
 text-align: center;
 clear: both;
 color: #fff;
 font-size: 11pt;
 text-align: center;
 vertical-align: middle;
 cursor: pointer;
 border: 2px solid #fff;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 z-index: 2;
 }
div.error {
 background-color: red;
 font-weight:bold;
 color: white;
 padding: 2px;
 opacity: 0.9;
 background-image: -webkit-linear-gradient(top,#d10000,#ff1f00);
 background-image: -o-linear-gradient(top,#d10000,#ff1f00);
 background-image: -moz-linear-gradient(90deg, #d10000, #ff1f00);
 background-image: linear-gradient(top,#d10000,#ff1f00);
  -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 }
.auth_navbar {
 text-align:right;
 z-index:20;
 position: absolute;
 top: 2px;
 right:30px;
 border:0;
 padding:0 }
