{{extend 'layout.html'}}
{{if(request.args(0) == 'stopVM'):}}
<h1>{{=T('Detención de máquinas Virtuales')}}</h1>
{{pass}}
{{if(request.args(0) == 'openVM'):}}
<h1>{{=T('Apertura de máquinas Virtuales')}}</h1>
{{pass}}
{{=form}}
<script>
jQuery(document).ready(function(){
    var i;
    var j;
    for(i=0;i<{{=num}};i++){
       jQuery('#o'+i).hide();
       jQuery('#r'+i).hide();
       jQuery('#d'+i).hide();
       jQuery('#c' +i).change(function(){

            for(j = 0 ; j < {{=num}} ; j++){
                if(jQuery('#c' +j).attr('checked')){
                    jQuery('#o' +j).show("slow");
                    jQuery('#r' +j).show("slow");
                    jQuery('#d' +j).show("slow");
                }else{
                    jQuery('#o' +j).hide("slow");
                    jQuery('#r' +j).hide("slow");
                    jQuery('#d' +j).hide("slow");
                }
           }
       });

        }
});
</script>
