{{extend 'layout.html'}}
<div id="search">
    {{=request.searchForm}}
</div>
<table>
{{for resultado in resultados:}}
    <tr>
        <td>{{=INPUT(_type="radio", _name="MV", value=resultado['id'])}}</td>
        <td class="asignatura">{{=resultado['cod']}} - {{=resultado['asignatura']}}</td>
        <td class="VMname">{{=resultado['nombre']}}</td>
    </tr>
    <tr>
    <td></td><td class="VMdescription" rowspan="2">{{=resultado['descripcion']}}</td>
    </tr>
    {{pass}}
</table>

<input type="submit" value={{=T("Arrancar")}} />
